*, ::after, ::before {
    box-sizing: border-box;
}
*{
    box-sizing: border-box !important;
}
body {
    position: relative;
    font-family: sans-serif!important;
    color: #ffffff !important;
    font-size: 16px;
    padding: 0px !important;
    margin: 0px !important;
    font-weight: 400 !important;
    line-height: 1.7;
    box-sizing: border-box !important;
    background-color: #101113 !important;
    z-index:1 !important;

}
.hero {
    padding-top: 270px;
    padding-bottom: 210px;
    position: relative;
    background-color: #454545 !important;
}
.bg_img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7) !important;
}
.container {
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.col-xl-5, .col-lg-8{
    position: relative;
    width: 100%;
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.hero__title {
    font-size: 58px;
    font-family: "Josefin Sans", sans-serif !important;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
    line-height: 1.3;
}
.text-white {
    color: #fff!important;
}
.font-weight-normal {
    font-weight: 400!important;
}
p, li, span {
    margin: 0;
}
span {
    display: inline-block;
}
.base--color {
    color: #cca354 !important;
}
b, strong {
    font-weight: bolder;
}
.f-size-18 {
    font-size: 18px !important;
}
.text-white {
    color: #fff!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
p, li, span {
    margin: 0;
}
.cmn-btn {
    padding: 12px 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #cca354;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #000000;
}
.font-weight-600 {
    font-weight: 600 !important;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
a {
    text-decoration: none;
    display: inline-block;
    font-family: "Exo", sans-serif;
    font-weight: 400;
}
/* -------------------------------------------------section 1---------------------------------------------- */

.about-section {
    position: relative;
}
.pb-120 {
    padding-bottom: 120px;
}
.pt-120 {
    padding-top: 120px;
}
.section-title {
    font-size: 44px;
    text-transform: capitalize;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.font-weight-normal {
    font-weight: 400!important;
    color: white !important;
}
.section-title + p {
    margin-top: 15px;
}
.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
/* ----------------------------------section 3--------------------------------- */
.overlay--radial {
    position: relative;
    z-index: 9;
}
.bg_img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.text-center {
    text-align: center!important;
}
.section-header {
    margin-bottom: 55px;
    margin-top: -8px;
}
.section-title {
    font-size: 44px;
    text-transform: capitalize;
}
.mb-none-30 {
    margin-bottom: -30px;
}
.mb-30 {
    margin-bottom: 30px;
}
.choose-card {
    padding: 30px;
    background-color: #cca354;
    background-color: rgba(0, 0, 0, 0.5) !important;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.527) !important;
    height: 100%;
}
.border-radius--5 {
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}
.choose-card__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.choose-card__icon {
    width: 55px;
}
.choose-card__icon i {
    font-size: 42px;
    line-height: 1;
    color: #cca354 !important;
    /* font-family: 'Line Awesome Free'; */
    font-weight: 400;
}
.choose-card__title {
    width: calc(100% - 55px);
    color: #cca354;
}
.work-item {
    position: relative;
    z-index: 1;
}
.mb-30 {
    margin-bottom: 30px;
}
.work-card__icon {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid #cca354;
    box-shadow: 0 0 15px 3px rgba(204, 163, 84, 0.65);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    position: relative;
}
.work-card__icon i {
    font-size: 44px;
    line-height: 1;
}
.work-card__icon .step-number {
    position: absolute;
    top: -3px;
    right: -5px;
    width: 32px;
    height: 32px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border: 2px solid #cca354;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.work-card__content {
    margin-top: 35px;
}
.overlay--radial {
    position: relative;
    z-index: 9;
}
/* .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
} */
.testimonial-slider .slick-list {
    margin: -15px;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    width:100%;
    margin: 0;
    padding: 0;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.testimonial-slider .single-slide {
    margin: 15px;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    /* display: none; */
    float: left;
    height: 100%;
    min-height: 1px;
}
.testimonial-card {
    background-color: rgba(204, 163, 84, 0.65);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 5px 0px #cca354;
}
.testimonial-card__content {
    padding: 30px 30px 60px 30px;
    border-bottom: 1px solid rgba(204, 163, 84, 0.5);
}
.testimonial-card__client {
    padding: 0 30px 20px 30px;
    margin-top: -38px;
}
.testimonial-card__client .thumb {
    width: 75px;
    height: 75px;
    overflow: hidden;
    border: 3px solid #cca354;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: auto;
}
.testimonial-card__client .thumb img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
}
.testimonial-card__client .thumb img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
}
.slick-slide img {
    display: block;
}
img {
    vertical-align: middle;
    border-style: none;
    max-width:100%;
}

.testimonial-card__client .name {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-weight: 600;
    margin: 0;
    line-height: 1.3;
}
.testimonial-card__client .designation {
    font-size: 14px;
}
span {
    display: inline-block;
}
.testimonial-slider .single-slide {
    margin: 15px;
}
.slick-initialized .slick-slide {
    display: block;
}
.testimonial-slider .slick-dots {
    margin-top: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.testimonial-slider .slick-dots {
    margin-top: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}  
.la-star{
    color: #e4b332;
}                                               
.testimonial-slider .slick-dots li {
    margin: 0 5px;
}
.testimonial-slider .slick-dots li.slick-active button {
    background-color: #cca354;
    width: 35px;
}
.testimonial-slider .slick-dots li button {
    font-size: 0;
    width: 20px;
    height: 6px;
    background-color: rgba(204, 163, 84, 0.5);
    border-radius: 999px;
    border-color: rgba(204, 163, 84, 0.5);
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}
.f-size-18 {
    font-size: 18px !important;
}
.col-lg-12{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media only screen and (max-width: 767px){
    .hero__title {
        font-size: 36px;
    }
}
@media (max-width: 575px){
    h2 {
        font-size: 28px !important;
        }
}
@media (max-width: 991px){
    h2 {
        font-size: 30px !important;
    }
}
@media (max-width: 1199px){
    .hero__title {
        font-size: 48px;
    }
}
@media (max-width: 440px){
    .section-title {
        font-size: 24px;
    }
}
@media (max-width: 767px){
    .section-title {
        font-size: 28px;
    }
}
@media (min-width: 992px){
    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
